[submodule "external/panlib"]
	path = external/panlib
	url = https://github.com/radiance-org/panlib
[submodule "external/radiance"]
	path = external/radiance
	url = https://github.com/lbnl-eta/radiance
	branch = master
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "external/openexr"]
	path = external/openexr
	url = https://github.com/mitsuba-renderer/openexr
[submodule "external/libtiff"]
	path = external/libtiff
	url = https://gitlab.com/libtiff/libtiff
